@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');
nav a.brand {
    font-size: 23px;
    font-family: Dosis;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

body {
    background-color: #fafafa;
}

.card-body {
    height: 520px;
    overflow-x: scroll;
}

.card-body::-webkit-scrollbar {
    display: none;
}

.user-profile img {
    border-radius: 100%;
}

.message-info p {
    font-family: Dosis;
    font-weight: 600;
    margin-bottom: 0;
}

.message-info p.latest-message {
    font-family: Dosis;
    font-weight: 300;
    font-size: 15px;
    color: #c7c7c7;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}

div.msg-head {
    padding: 10px;
    cursor: pointer;
}

div.msg-head:hover {
    background: #f7f7f7;
}

div.msg {
    height: 81.5vh;
    overflow-x: scroll;
}

.card {
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 44px -3px rgba(0, 0, 0, 0.09);
}

.users-card-body {
    padding: 0;
    height: 552px;
    overflow-x: scroll;
}

.users-card-body {
    background: transparent;
}

div.msg::-webkit-scrollbar {
    display: none;
}

.container-message {
    width: 51%;
}

.container-message {
    padding: 13px;
    clear: both;
}

.container-message p {
    width: auto;
    display: inline-block;
    background: #3c5fcd;
    padding: 7px 20px;
    border-radius: 25px;
    margin: 0;
    color: white;
    font-family: Dosis;
}

p.reciever {
    background: #c7c7c7;
    color: black;
}

.message-form {
    position: absolute;
    width: 100%;
    top: 100%;
}

.message-form button {
    background: transparent;
    border: none;
    color: #3c5fcd;
    font-size: 15px;
    position: absolute;
    right: 2%;
    top: 1px;
}

.message-form button:focus {
    outline: none;
}

.search-messages,
input.msg-input {
    background: #f7f7f7;
    border: 1px solid transparent;
    padding-left: 7px;
    width: 100%;
    font-weight: 600;
    font-family: 'Dosis';
}

.search-messages::placeholder,
input.msg-input::placeholder {
    font-family: 'Dosis';
    font-weight: 300;
    padding-left: 7px;
    font-size: 14px;
    position: relative;
    top: -1px;
}

.search-messages:focus,
input.msg-input:focus {
    color: #3c5fcd;
    outline: none;
    border: 1px solid #3c5fcd;
    transition: all ease-in-out 300ms;
}

.uper-users-panel {
    height: 85px;
    margin-bottom: 10px;
}

.uper-msg-head img {
    border-radius: 100%;
    cursor: pointer;
    width: 61px;
}

@media screen and (max-width: 768px) {
    img.profile {
        display: none;
    }
}