body {
    background-color: #f6f6f6;
}

.sign-up {
    background: #0376ac;
    color: white;
    border: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    transition: all ease-in-out 300ms;
    border: 1px solid #0376ac;
}

.sign-up:hover {
    background: #ffffff;
    color: #0376ac;
    transition: all ease-in-out 300ms;
    border: 1px solid #0376ac;
}

.card-login {
    position: relative;
    margin-top: 50px;
    border-radius: 0px;
}

.card-register {
    position: relative;
    top: 1%;
    border-radius: 0px;
}

.textinput,
.emailinput {
    border-radius: 0px;
    margin-top: -10px;
}