@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
body {
    background: #f5f5f5;
    height: 600px;
}

.title {
    font-family: 'El Messiri', sans-serif;
    color: #ff828e;
}

a.brand {
    font-family: 'El Messiri', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    width: 33%;
    text-decoration: none;
    color: #ff828e;
}

.card,
.textinput {
    border-radius: 0px;
    border: none;
}

.is-invalid {
    border: 1px solid red;
}

.input-form,
.textinput {
    background: #f1f1f1;
    font-family: 'Dosis', sans-serif;
}

.alert-block,
.alert-success {
    border-radius: 0px;
    font-family: 'Dosis', sans-serif;
}

.row-bt {
    height: 610px;
}

.btn-card {
    background: #ff828e;
    border: 1px solid #ff828e;
    color: white;
    border-radius: 0px;
    width: 65%;
}

.btn-card a {
    text-decoration: none;
    color: white;
}

.input-form:focus {
    outline: #ffa2ab;
}

.input-form::placeholder {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
}

.btn-form {
    background: #0080FF;
    width: 100%;
    border: 1px solid #0080FF;
    color: white;
    padding: 10px 0px;
    margin-bottom: 20px;
}


/* Navbar Styles */

nav.navbar {
    padding-bottom: 2px;
    padding-top: 2px;
}

button.navbar-toggler:focus {
    outline: none;
}

.right-nav i {
    font-size: 22px;
    color: #dadada;
    position: relative;
    top: 2px;
}

.right-nav img {
    width: 30px;
    border-radius: 100%;
}

.right-nav button {
    background: #86beff;
    border: none;
    border-radius: 30px;
    padding: 0px 6px;
}

.right-nav button a {
    font-family: 'Dosis';
    text-decoration: none;
    color: white;
}

.right-nav button a i {
    color: white;
    font-size: 14px;
    position: relative;
    top: 0px;
}

.middle-nav input {
    border: 1px solid transparent;
    background: #f1f1f1;
    font-family: 'Dosis';
    padding: 3px 10px;
    width: 100%;
    transition: all ease-in-out 100ms;
}

.middle-nav input::placeholder {
    font-family: 'Dosis';
    font-size: 15px;
}

.middle-nav input:focus {
    outline: none;
    border: 1px solid #ff5b6b;
    transition: all ease-in-out 100ms;
}

div.search i {
    position: absolute;
    top: 33%;
    right: 27%;
    color: #bbbbbb;
    display: none;
}

div.search-results {
    width: 48.8%;
    max-height: 400px;
    max-height: 500px;
    position: absolute;
    display: none;
    top: 100%;
    overflow-y: scroll;
    z-index: 3;
    background: white;
    border: 1px solid #dadada;
}

div.search-results::-webkit-scrollbar {
    display: none;
}

.container-search {
    background: #fcfcfc85;
    border-bottom: 1px solid #ebebeb;
    transition: all ease-in-out 100ms;
    display: block;
    text-decoration: none;
    color: black;
}

.container-search:hover {
    background: #e7e7e785;
    text-decoration: none;
    color: black;
    transition: all ease-in-out 100ms;
}

.search-results img {
    width: 45px;
    border-radius: 100%;
}

.search-results h6 {
    font-family: 'Dosis', sans-serif;
}

button.menu-toggler {
    display: none;
}

@media screen and (max-width: 768px) {
    button.menu-toggler {
        display: block;
    }
    .right-nav img,
    .right-nav button {
        display: none;
    }
}

.overlay {
    background: black;
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    height: 100vh;
    opacity: 0.6;
}

div.side-menu-responsive {
    background: white;
    display: none;
    width: 250px;
    position: fixed;
    z-index: 3;
    top: 0;
}

div.menu-header {
    padding: 15px 0px 10px 17px;
    width: 233px;
}

div.menu-header img {
    border-radius: 100%;
}

div.menu-header p {
    margin-bottom: 0;
}

div.menu-header span {
    color: #cacaca;
    font-family: Dosis;
}

div.side-menu-responsive .list-element {
    padding: 15px;
    padding-left: 25px;
    font-family: Dosis;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
}

div.side-menu-responsive .list-element:hover {
    background: #e6e6e6;
}

div.side-menu-responsive a {
    color: #717171;
    text-decoration: none;
}


/* Notifications */

div.dropdown-menu {
    position: absolute;
    left: -200px;
    width: 265px;
    top: 156%;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 30px -13px rgba(0, 0, 0, 0.34);
}

div.notification-container {
    font-family: 'Dosis';
    color: #bbbbbb;
    padding: 10px;
    height: 66px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

div.notification-container:hover {
    background: #f3f3f3;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    color: #adadad;
}

div.notification-container img {
    position: relative;
    top: 3px;
}

div.notification-container p {
    font-size: 15px;
    font-size: 12px;
}

div.notification-container p i {
    font-size: 12px;
    position: relative;
    top: 0px;
}

div.notification-container span {
    font-family: 'Dosis';
    color: black;
    border-bottom: 1px solid;
}


/* End navbar */


/* Post Style */

.post-container::-webkit-scrollbar {
    display: none;
}

.post-info {
    z-index: 3;
    background: white;
    width: 100%;
    top: 5%;
    left: 5%;
    padding: 7px;
    padding-bottom: 0;
}

.post-info h6 {
    font-family: 'Dosis';
    position: relative;
    top: 2px;
}

.post-info span {
    position: relative;
    font-family: 'Dosis';
    font-size: 12px;
    color: #c2c4c5;
}

.post-info div.post-image-user {
    float: left;
    width: auto;
    padding-bottom: 7px;
}

.post-info div.post-image-user img {
    top: 0px;
    left: 0px;
    width: 45px;
    border-radius: 100%;
}

.post {
    position: relative;
    z-index: 1;
}

h5.username {
    font-family: "Dosis";
}

div.info-wrapper {
    display: inline-grid;
    position: relative;
    left: 8px;
    width: auto;
}

div.info-wrapper a {
    text-decoration: none;
    color: black;
    font-family: 'Dosis';
}

div.info-wrapper span.time {
    font-family: 'Cairo';
}

div.actions {
    float: right;
    width: 3%;
    position: relative;
    top: 10px;
    right: 13px;
}

div.actions a {
    border: none;
    background: transparent;
}

div.actions a i {
    font-size: 17px;
    color: #cacaca;
    transition: all ease-in-out 300ms;
}

div.actions a i:hover {
    color: #ff3939;
    transition: all ease-in-out 300ms;
}

div.actions a i:focus {
    outline: none;
}

div.reactions {
    background: white;
    width: 70px;
    margin: 7px;
    border-radius: 23px;
    padding: 2px 13px 2px 16px;
    cursor: pointer;
}

div.reactions span {
    background: white;
    font-size: 17px;
    text-decoration: none;
    color: #ff5c6c;
}

div.reactions i {
    color: #FF3755;
}

div.post i.fa-bookmark {
    position: relative;
    top: 14px;
    right: 15px;
    cursor: pointer;
}

div.reactions a:focus {
    outline: none;
}


/* End Post Style */


/* Create Page */

.upload-card {
    width: 100%;
    height: 500px;
}

.upload-card .input_file {
    width: 50%;
    height: 500px;
    background: #F0F0F0;
    border: 2px dashed #dadada;
}

.upload-card .input_file:focus {
    outline: none;
}

.upload-card input.is-invalid {
    border: 2px dashed #ff3939;
}

button.submit-btn {
    float: right;
    position: relative;
    top: -86px;
    right: 28px;
    padding: 4px 25px;
    font-size: 17px;
    font-family: Dosis;
    background: #649bff;
    color: white;
    border: none;
}


/* End Create Page */


/* Side Menu */

div.side-menu {
    background: white;
    padding: 15px 5px 15px 5px
}

div.side-menu a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 18px;
    color: #9a9a9a;
    border-radius: 25px;
    transition: all ease-in-out 300ms;
}

div.side-menu a span {
    font-family: "Dosis";
}

div.side-menu a:hover {
    background: #ffd2d7;
    color: #ff5c6c;
    transition: all ease-in-out 300ms;
}

div.side-menu .list-element span.badge {
    float: right;
    top: 7px;
    position: relative;
    right: 8px;
    border-radius: 0;
    border: none;
    background: #ff6070;
    color: white;
}


/* End Side Menu */


/* Profile */

div.upload-crop-container {
    position: absolute;
    z-index: 3;
}

.profile-update-input {
    display: none;
}

span.profile-hint {
    font-family: Dosis;
    font-size: 15px;
    position: relative;
    top: -18px;
    left: 8%;
    background: #e6e6e6;
}

.input-update-profile {
    font-family: Dosis;
    background: #5479ff;
    padding: 5px 14px;
    color: white;
    position: relative;
    left: 13%;
    cursor: pointer;
}

div.modal-content {
    border: none;
    border-radius: 0px;
}

div.profile {
    word-wrap: break-word;
}

div.profile .errorlist {
    list-style: none;
    font-family: Dosis;
    color: red;
    left: 6%;
    position: relative;
}

div.profile img {
    width: 85px;
    border-radius: 55px;
    border: 3px solid #c5c5c5;
    padding: 3px;
    position: relative;
    left: 32%;
}

div.profile p {
    font-family: "Dosis";
    font-size: 25px;
}


/* End Profile */

form.post-form {
    width: 100%;
    height: 100%;
}

.dropzone {
    border: 8px dashed #e6f5e9;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 300ms;
}

.file-upload-input {
    display: none;
}

.clear-files {
    position: absolute;
    top: 45%;
    left: 65%;
    font-family: Dosis;
    font-weight: 600;
    color: white;
    background: #ff0383;
    padding: 1px 10px;
    border-radius: 21px;
    cursor: pointer;
    display: none;
}

label.file-upload {
    font-family: Dosis;
    font-weight: 600;
    height: 37px;
    font-size: 20px;
    position: relative;
    top: 50%;
    background: #e6f5e9;
    padding: 2px 20px;
    border-radius: 21px;
}