{% extends 'social/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-left" style="font-family: 'El Messiri'">
                        Update User Informations
                    </h5>
                    <hr>
                    <form action="" method="POST">
                        {% csrf_token %} {{form|crispy}}
                        <button class="btn float-right">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}