{% extends 'social/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center row-bt">
        <div class="col-lg-5 col-md-5 col-12 align-self-center">
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {% endfor %}
        {% endif %}
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center title">SOCIAL+</h2>
                    <h6 class="text-center slug">What Ever You Want | When Ever You Want</h6>
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn-form" type="submit">Login</button>
                    </form>
                    <h6 class="text-center slug">
                    <a href="#">Forget My Password</a>
                    </h6>
                    <hr>
                    <h6 class="text-center slug"><a href="{% url 'users:register' %}" style="color:black; border-bottom:2px solid black">Or Create A New Account</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}