{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <div class="card card-register">
                <div class="card-body">
                    <form method="POST">
                    <h2>Do you want to delete "{{ post.title }}" ?</h2>
                    {% csrf_token %}
                        <button type="submit" class="sign-up">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}